.more_button {
	position: relative;
	margin-left: auto;
	cursor: pointer;
	padding: 10px 0;
	display: flex;
	align-items: center;
}
.more_circle {
	display: inline-flex;
	height: 4px;
	width: 4px;
	border-radius: 4px;
	background-color: #000;
}
.more_circle:nth-child(2) {
	margin-left: 3px;
	margin-right: 3px;
}
.more_button:hover .more_circle:nth-child(1) {
	transform: translateX(-2px);
	transition: all 0.3s;
}
.more_button:hover .more_circle:nth-child(3) {
	transform: translateX(2px);
	transition: all 0.3s;
}
