:root {
	/* color */
	--white: #fff;
	--black: #333;
	/* font */
	--font: NotoSans KR, san-serif;
	--font-size-h1: 20px;
	--font-size-h2: 20px;
	--font-size-h3: 20px;
	--font-size-h4: 20px;
	--font-size-h5: 20px;
	--font-size-h6: 20px;
}
