.mainBanner {
	height: calc(100vh - 200px);
}
.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 1400px;
	margin: 0 auto;
	/* padding: 0 30px; */
	padding: 0 80px;
}
.column {
	flex-direction: column;
	align-items: flex-start;
}
.mainBannerTitle {
	text-transform: uppercase;
	font-size: 100px;
	/* letter-spacing: -0.8px; */
	font-weight: 700;
	margin-bottom: 70px;
}
.lineText {
}
.mainBannerTitle p {
	position: relative;
	letter-spacing: -2.5px;
	padding: 0;
	margin: 0;
	line-height: 85px;
}
