.mainBanner {
	height: calc(100vh - 200px);
}
.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 30px;
	padding-top: 30px;
}
.mainBannerTitle {
	text-transform: uppercase;
	font-size: 80px;
	letter-spacing: -0.8px;
	font-weight: bold;
	line-height: 0.9;
}
.lineText {
}
.lineText p {
	position: relative;
	display: inline-flex;
}
.lineText span {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 10px;
	height: 10px;
	width: 100%;
	background-color: #0066ff55;
}
