.stickyHeader {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 180px;
	transition: top 0.5s;
}
.header {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	height: 120px;
	background-color: #f6e95c;
}
.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 30px;
	background-color: fff;
}
.gnb {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.more {
	margin-left: auto;
}
