.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: #faebd7dd;
	transition: top 0.3s;
}
.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 30px;
	background-color: aliceblue;
}
.gnb {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.more {
	margin-left: auto;
}
