.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 80px;
}
.column {
	flex-direction: column;
	align-items: flex-start;
}
